img{
    width:60px;
}
.all{
    display: flex;
    align-items: center;
    width: 20%;
    padding: 16px;
    border: 3px solid #ef798a;
    background-color: #f5f3f3;
    border-radius: 1rem;
    margin-top: 1rem;

}
.imageAndPrice{
    display: flex;
    flex-direction: column;
}
button{
    height: 25px;
    border:none;
    border-radius: 5px;
        background-color: #ef798a;
        color: white;
        cursor: pointer;
        &:active{
            background-color: #e7586e
        }
}
.cart{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}